body {
  font-family: 'Georgia', serif;
  background: linear-gradient(to bottom, #ffffff, #ffebcd);
  color: #2f4f4f;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.header {
  text-align: center;
  background-color: #ff6347;
  color: white;
  padding: 1rem 0;
}

h1 {
  font-size: 2.5rem;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem;
}

.recipe-card {
  background-color: #fff8dc;
  border: 2px solid #d2691e;
  border-radius: 10px;
  padding: 1rem;
  width: 250px;
  text-align: center;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s;
}

.recipe-card:hover {
  transform: scale(1.05);
}

.recipe-detail {
  display: none;
  padding: 2rem;
  background-color: white;
  border: 5px solid gold;
  margin: 2rem;
  text-align: left;
}

.hidden {
  display: none;
}

.footer {
  text-align: center;
  background: #228b22;
  color: white;
  padding: 1rem;
}

.back-button {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}

#background-music {
  display: none;
}
